@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Palatino Linotype";
    src: url("../fonts/Palatino-Linotype-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
body{
    font-family: 'Georgia';
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header*/
.header{
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 1200px;
    margin: 0 auto;
    position: fixed;
    z-index: 100px;
    width: 100%;
    top: 0;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
.header__wrapper{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.nav{
    height: 60px;
    margin-left: 252px;
}
.logo{
    margin-top: 20px;
}
.main_menu{
    display: flex;
    margin-top: 31px;
    list-style: none;
}
.menu_link1 a{
    text-transform: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #353732;
    transition: all .02s ease-in-out;
    opacity: 1;
}
.menu_link1:hover{
    opacity: 0.6;
}
.menu_link{
    margin-left: 20px;
    text-decoration: none;
}
.menu_link a{
    text-transform: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #353732;
    transition: all .02s ease-in-out;
    opacity: 1;
}
.menu_link:hover{
    opacity: 0.6;
}

/*INTRO*/
.calm{
    height: 360px;
}
.wrapper__calm{
    margin-top: 177px;
    width: 800px;
    height: 148px;
    margin-left: 222px;
}
.text_calm{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #353732;
}
.text__calm{
    margin-top: 17px;
}

/*TRAVEL*/
.travel{
    height: 1392px;
    background: #FAFAFA;;
}
.travel__wrapper{
    margin-left: 222px;
    width: 768px;
    height: 1191px;
    padding-top: 114px;
}
.travel__wrapp{
    display: flex;
}
.travel__img{
    margin-left: 20px;
}
.text_gory{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #353732;
    padding-top: 20px;
    padding-left: 20px;
}
.text__travel{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #45525B;
    margin-top: 10px;
    padding-left: 20px;
}
.travel__text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
    margin-top: 10px;
    padding-left: 20px;
}
.text__data{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    margin-top: 70px;
    padding-left: 20px;
}
.text__gory{
    background: #FFFFFF;
    margin-top: -5px;
    height: 286px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gory__text{
    height: 569px;
}
.gory__text:hover{
    box-shadow: 0 0 5px rgb(0 0 0);
    transition: background-color ease 0.5s;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.text_gory1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #353732;
    padding-top: 17px;
    padding-left: 20px;
}
.text__travel1{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #45525B;
    margin-top: 12px;
    padding-left: 20px;
}
.text__data1{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    margin-top: 9px;
    padding-left: 20px;
}
.alpinist__img{
    height: 260px;
}
.text__gory1{
    height: 119px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #FFFFFF;
    margin-top: -5px;
}
.alpinist__img:hover{
    box-shadow: 0 0 5px rgb(0 0 0);
    transition: background-color ease 0.5s;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.foto__img{
    margin-top: 27px;
    height: 281px;
}
.text_gory2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #353732;
    padding-top: 17px;
    padding-left: 20px;
}
.text__travel2{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #45525B;
    margin-top: 12px;
    padding-left: 20px;
}
.text__data2{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    margin-top: 7px;
    padding-left: 20px;
}
.text__gory2{
    height: 140px;
    background: #FFFFFF;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -5px;
}
.foto__img:hover{
    box-shadow: 0 0 5px rgb(0 0 0);
    transition: background-color ease 0.5s;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.travel__wrapp1{
    display: flex;
    margin-top: 16px;
}
.men{
    height: 334px;
}
.block__text{
    margin-top: -5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #FFFFFF;
    height: 123px;
}
.men__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #353732;
    padding-top: 20px;
    padding-left: 20px;
}
.text__men{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    color: #45525B;
    margin-top: 13px;
    padding-left: 20px;
}
.text__data3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    margin-top: 10px;
    padding-left: 20px;
}
.men:hover{
    box-shadow: 0 0 5px rgb(0 0 0);
    transition: background-color ease 0.5s;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.men1{
    margin-left: 20px;
    height: 334px;
}
.men1:hover{
    box-shadow: 0 0 5px rgb(0 0 0);
    transition: background-color ease 0.5s;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.travel__wrapp2{
    display: flex;
    margin-top: 17px;
}
.pen{
    height: 270px;
}
.pen:hover{
    box-shadow: 0 0 5px rgb(0 0 0);
    transition: background-color ease 0.5s;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.pen__text{
    margin-top: -5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #FFFFFF;
    height: 134px;
}
.text__pen{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #353732;
    padding-top: 17px;
    padding-left: 20px;
}
.text__pen1{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #45525B;
    margin-top: 3px;
    padding-left: 20px;
}
.text__data4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    margin-top: 30px;
    padding-left: 20px;
}
.pen1{
    height: 270px;
    margin-left: 17px;
}
.pen1:hover{
    box-shadow: 0 0 5px rgb(0 0 0);
    transition: background-color ease 0.5s;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.text__data5{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    margin-top: 7px;
    padding-left: 20px;
}

/*EMAIL*/
.poisk{
    height: 411px;
}
.poisk__wrapper{
    width: 768px;
    height: 187px;
    margin-top: 122px;
    margin-left: 222px;
    display: flex;
}
.text__poisk{
    width: 440px;
}
.stay__text{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #353732;
}
.poisk__text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #353732;
    margin-top: 11px;
}
.text__input{
    margin-left: 16px;
}
.name{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #353732;
}
.text__box{
    background: rgba(82, 80, 59, 0.02);
    border: 1px solid #E5E7EB;
    box-sizing: border-box;
    border-radius: 8px;
    height: 38px;
    width: 376px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #353732;
}
.email{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #353732;
    margin-top: 10px;
}
.btn__poisk{
    background: #353732;
    border: #353732;
    border-radius: 6px;
    height: 38px;
    width: 82px;
    margin-top: 10px;
}
.btn__poisk:hover{
    box-shadow: 0 0 5px rgb(0 0 0);
    transition: background-color ease 0.5s;
    border-radius: #353732;
    background: #353721;
    cursor: pointer;
}

/*ARCHIVE*/
.travel_text{
    background: #FAFAFA;
    height: 2536px;
}
.text__wrapper{
    margin-left: 222px;
    padding-top: 100px;
}
.img__text__gory{
    display: flex;
}
.travel__gory{
    margin-left: 20px;
}
.text{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #45525B;
}
.text1{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
    margin-top: 2px;
}
.data__text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    margin-top: 5px;
}
.img__text__gory1{
    display: flex;
    margin-top: 40px;
}
.travel__gory1{
    margin-top: 40px;
}
.img__text__foto{
    display: flex;
    margin-top: 40px;
}
.data__text1{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    margin-top: 20px;
}
.data__text3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    margin-top: 5px;
}
.text2{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
.strelka__archive{
    text-decoration: none;
    display: flex;
    margin-top: 65px;
    margin-left: 346px;
}
.text__view{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #575445;
    text-decoration: none;
    margin-right: 3px;
}
/*FOOTER*/
.footer{
    height: 300px;
}
.text__footer1{
    margin-left: 30px;
}
.wrapper__footer{
    margin-top: 100px;
    margin-left: 222px;
}
.img__footer{
    margin-left: 16px;
}
.text__footer{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #353732;
    margin-left: 16px;
    margin-top: 9px;
}
.footer__text{
    margin-left: 16px;
    display: flex;
    margin-top: 20px;
}
.start{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
    text-decoration: none;
    opacity: 1;
}
.start:hover{
    opacity: 0.6;
}
.archive{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
    text-decoration: none;
    margin-left: 20px;
    opacity: 1;
}
.archive:hover{
    opacity: 0.6;
}
.instructions{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
    text-decoration: none;
    opacity: 1;
}
.instructions:hover{
    opacity: 0.6;
}
.style{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
    text-decoration: none;
    margin-left: 20px;
    opacity: 1;
}
.style:hover{
    opacity: 0.6;
}
.licenses{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
    text-decoration: none;
    margin-left: 20px;
    opacity: 1;
}
.licenses:hover{
    opacity: 0.6;
}
.changelog{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
    text-decoration: none;
    margin-left: 20px;
    opacity: 1;
}
.changelog:hover{
    opacity: 0.6;
}

    
    